@charset "utf-8";
/* CSS Document WebFont */

@font-face {
    font-family: 'RonniaRegular';
    src: url('ronniareg-webfont.eot');
    src: url('ronniareg-webfont.eot?#iefix') format('embedded-opentype'),
         url('ronniareg-webfont.woff') format('woff'),
         url('ronniareg-webfont.ttf') format('truetype'),
         url('ronniareg-webfont.svg#RonniaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RonniaLightRegular';
    src: url('ronnialight-webfont.eot');
    src: url('ronnialight-webfont.eot?#iefix') format('embedded-opentype'),
         url('ronnialight-webfont.woff') format('woff'),
         url('ronnialight-webfont.ttf') format('truetype'),
         url('ronnialight-webfont.svg#RonniaLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RonniaHeavyRegular';
    src: url('ronniaheavy-webfont.eot');
    src: url('ronniaheavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('ronniaheavy-webfont.woff') format('woff'),
         url('ronniaheavy-webfont.ttf') format('truetype'),
         url('ronniaheavy-webfont.svg#RonniaHeavyRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RonniaExtraboldRegular';
    src: url('ronniaextrabold-webfont.eot');
    src: url('ronniaextrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('ronniaextrabold-webfont.woff') format('woff'),
         url('ronniaextrabold-webfont.ttf') format('truetype'),
         url('ronniaextrabold-webfont.svg#RonniaExtraboldRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DroidSerifRegular';
    src: url('droidserif-regular-webfont.eot');
    src: url('droidserif-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('droidserif-regular-webfont.woff') format('woff'),
         url('droidserif-regular-webfont.ttf') format('truetype'),
         url('droidserif-regular-webfont.svg#DroidSerifRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}